#tb1{
  background-color: black;
  height: 90px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.red-color {
  color:red;
}
#img1{
  width: 700px;
  height: 400px;
}
#itemCard{
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px gray;
  display:inline-flex;
  margin-left:5px
}
#tb1{
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.red-color {
  color:red;
}
#span{
  margin-left: 10%;
  font-size: 30px;
  font-style: italic;
  color: aliceblue;
}
#restName{
  /* margin-left: 65%; */
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 40px;
}
.grid-container
{
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(2, 1fr);
}
#back:hover
{
  transform: scale(1.07);
}
